/* @media (min-width: 1279px) {
  .container {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes strobe {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.05);
  }
}

@layer utilities {
  .animate-strobe {
    animation: strobe 1.5s infinite ease-in-out;
  }

  .animate-strobe-delay {
    animation: strobe 1.5s infinite ease-in-out;
    animation-delay: 0.3s;
  }
}
